.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/449895.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Pokemon Classic";
    color: black;
    padding-top: 4vh;
     }
.post{
margin-bottom: 1vh;
color: black;
width: 30%;
}
.post img{
    height: 40vh;
}
.btnHome{
    color: black;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    margin: 0 auto;
  }
  
.title{
    text-align: center;
    width: 100%;
    color: brown;
    font-size: 3vh;
    margin-bottom: 2vh;
}
.label{
    color: black;
    font-size: 1.3vh;
    font-family: "Pokemon Classic";
    width: 9vw;
    height: 2.5vh;
}


.form{
    width: 70%;
    color: black;
}
.divInput{
    color: black;
    margin:3vh;
    position: relative;
    height: 3.5vh; 
}
.error{
    font-size: 1.1vh;
    color:crimson;
    position: absolute;
}
.input{
    width: 9vw;
    height: 2.5vh;
    font-size: 1.5vh;
    font-family: "Pokemon Classic";
}
h2{
    font-size: 2.5vh
}