.landing{
    text-align:center;
    display: flex;
    flex-direction: column;
    background-image: url(https://images.alphacoders.com/581/581224.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left:5rem;
    margin-top:5rem;
    font-family: "Pokemon Classic";
    color: rgb(0, 0, 0);
}
.imgcontainer{
 display: flex;
flex-direction: row;
}
.img{
  height: 2.5rem;
  transition: 0.5s;
  border-radius: 20px;
  margin-right: 10px;
  background-color: white;
}

.img:hover{
  border: 1px solid white;
  background-color: brown;

}
.button{
    width: fit-content;
    height: fit-content;
    font-family: 'Pokemon Solid';
    font-size: 3rem;
    border-color: rgba(240, 248, 255, 0);
    background-color:rgba(250, 235, 215, 0);
  }
  .button:hover{
    cursor:pointer;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
    transition:2s;
    color: black;
}
a:hover{
  transition:2s;
  color: rgb(255, 251, 2);
}